@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoutineStat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>


    <div style="width:40rem;" class="card">
        <div class="card-content">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label>What time did you go to bed and wake up?</label>
                        <div class="input-group">
                            <input class="form-control bedTime" type="text" placeholder="Select Date and Time" data-input>
                            <div class="input-group-append">
                                <button class="btn btn-danger mb-2 clear_button_bed" title="clear" data-clear>
                                    <i class="far fa-calendar-times"></i>
                                </button>
                            </div>
                        </div>
                        <small class="form-text text-muted">Please select date and time when you went to bed and wake up.</small>
                    </div>
                    <div class="form-group">
                        <label>Select an activity</label>
                        <div class="input-group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary mb-2" title="addActivity">
                                    <i class="fas fa-tasks"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group-append">
                            <textarea class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <!-- Custom scripts -->
    <script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>

</html>

