@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RoutineStat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>

    <div class="row">

        <form class="form-inline">
            <div class="form-group mb-2">
                <label>What time did you go to bed?</label>
            </div>
            <div class="form-group mx-sm-4 mb-2">
                <input class="form-control bedTime" type="text" placeholder="Select Date and Time" data-input>
            </div>
            <button class="btn btn-danger mb-2 clear_button_bed" title="clear" data-clear>
                <i class="far fa-calendar-times"></i>
            </button>
        </form>

        <form class="form-inline">
            <div class="form-group mb-2">
                <label>What time did wake up?</label>
            </div>
            <div class="form-group mx-sm-4 mb-2">
                <input class="form-control wakeTime" type="text" placeholder="Select Date and Time" data-input>
            </div>
            <button class="btn btn-danger mb-2 clear_button_wake" title="clear" data-clear>
                <i class="far fa-calendar-times"></i>
            </button>
        </form>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label>Select an activity</label>
            </div>
            <div class="form-group mx-sm-4 mb-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mb-2" title="addActivity">
                <i class="fas fa-tasks"></i>
            </button>
        </form>


    </div>

    <!-- Custom scripts -->
    <script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>

</html>

